
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<table class="table table-bordered">
  <tr>
      <th>#</th>
      <th>Baslik</th>
      <th>Oran</th>
      <th>Sil</th>
      <th>Duzenle</th>
  </tr> 
  <tr>
      <td>1</td>
      <td>SQL</td>
      <td>95</td>
      <td><a href="#" class="btn btn-danger>">Sil</a></td>
      <td><a href="#" class="btn btn-warning>">Guncelle</a></td>
  </tr>
</table>

